body{
	background-color:#9c9f84
	margin:0px; 
	}

#main{
	background-color:#9c9f84
	border-radius:0px;
	padding:0px;
	margin:0px;

}

.image{
	position: absolute;
	top: 100px;
	left: 10%;
	width: 80%;
	padding: 4px;
	font-weight: bold;
	color: #fff;
	font-weight: 600;
	font-size: 2em;
	float:center;
margin-right:0px;
margin-bottom:0px;
background-color:transparent;
}
